{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]
                [binaryage/devtools "1.0.7"]]
 :server-port 9640
 :nrepl {:port 9641}
 :dev-http {5173 "public"}
 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn iris-demo.core/init!}}
   :devtools {:after-load iris-demo.core/reload!}}}}
