{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]
                [binaryage/devtools "1.0.7"]]
 :dev-http {3000 "public"}
 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn iris-demo.core/init!}}
   :devtools {:after-load iris-demo.core/reload!}}

  :lib
  {:target :esm
   :output-dir "dist"
   :modules {:iris-layout {:exports {Stage iris-layout.core/Stage
                                     Stages iris-layout.core/Stages
                                     StageCard iris-layout.core/StageCard}}}
   :js-options {:js-provider :import}}}}
